.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  .text-bg{
    color: hsl(218, 81%, 95%)
  }

  .text-span{
    color: hsl(218, 81%, 75%)
  }

  .text-para{
    color: hsl(218, 81%, 95%)
  }

  .video-iframe{
    padding-top: 56.25%
  }


  .border-sec{
    border: 7px solid  hsl(218, 81%, 75%);
  }